@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  --primary: #457b9d;
  --secondary: #a8dadc;
}

body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding:20px;
  background-color: var(--primary);
  color:white;
}
* {
  color: #fff;
  margin: 0;
}
p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: #e63946;
  cursor: pointer;
}
header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
}
header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid #e63946;
}
header nav a{
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
header nav a.active {
  background: #e63946;
}

main {
  max-width: 1200px;
  margin: 40px auto;
}

.help-layout nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}
.help-layout nav a{
  padding: 10px;
  border: 2px solid white;
  border-radius: 4px;
  text-decoration: none;
}
.help-layout nav a:hover{
  border-color: #e63946;
}
.help-layout nav a.active {
  background: #e63946;
}

/* KB */
.kb .question {
  background: rgba(0,0,0,0.2);
  padding: 5px 20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* contact form */
form {
  margin-top: 30px;
}
form input, form label span, form textarea {
  display: block;
}
form input, form textarea {
  margin-bottom: 30px;
  padding: 8px;
  border-radius: 4px;
  border: 0;
  width: 300px;
  color: var(--secondary);
}
form label span {
  margin-bottom: 10px;
}

.tickets > a {
  display: block;
  background: rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
  text-decoration: none;
}
.tickets > a:hover p {
  color: #e63946;
}
.tickets p {
  margin: 0;
}
.tickets > a p:last-child {
 font-size: 0.8em;
 color: #bbb;
}

.ticket-details {
  background: rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
}