dialog.about {
    border: 0;
    backdrop-filter: blur(8px) brightness(90%);
    background: rgba(255, 255, 255, .6);
    height: 100%;
    width: 100%;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;

    .about-body {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
        border: 1px solid gray;
        box-shadow: 7px 7px 5px 0 rgba(30, 30, 50, 0.5);
    }

    footer {
        padding: 10px;
        background: #003f51;
        color: white;
        cursor: pointer;
        font-size: 15pt;
    }
}