#appointment-list {
    padding: 0 15px 0 15px;

    .heading {
        font-size: 30pt;
        font-weight: bold;
        color: #003f51;
    }

    .box {
        border: 1px grey solid;
    }

    .appointment-table {
        overflow: auto;
        display: table;
        width: 100%;
        margin-bottom: 10px;
        border-collapse: collapse;

        div {
            height: 45px;
            display: table-row;
            border-bottom: 1px gray solid;

            &:nth-child(odd) {
                background: #f9f9f9;
            }

            &:first-child {
                font-weight: bold;
                background: #e9e9e9;
                color: #337ab7;
            }

            &:last-child {
                border: 0;
            }
        }

        span {
            padding: 10px;
            display: table-cell;
        }
    }

    .status {
        padding: 5px;
    }
}

