.doctor-form {
    border: 1px lightgray solid;
    display: table;
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;

    div.form-row, div.error-row {
        display: table-row;

        > div {
            display: table-cell;
            padding: 0 5px 0 5px;
            vertical-align: middle;
        }
    }

    div.error-row {
        color: #dc3545;
        height: 30px
    }

    label > i {
        margin-right: 10px;
    }
}
