.messageModal {
    backdrop-filter: blur(8px) brightness(70%);
    background: rgba(255, 255, 255, .4);
    color: black;
    font-size: 15pt;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;

    h1.header {
        background: url("../../Resources/qa.png") left top no-repeat;
        background-size: 60px;
        height: 60px;
        padding: 5px 0 0 80px;
        color: #843534;
        margin-bottom: 20px;
    }

    main {
        background: rgba(255, 255, 255, .8);
        border-radius: 5px;
        border: 1px solid gray;
        box-shadow: 7px 7px 5px 0 rgba(30, 30, 50, 0.6);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50px;
        right: 50px;
        padding: 60px;
    }
}