.form-box {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    width: 500px;
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: 7px 7px 5px 0 rgba(30, 30, 50, 0.5);
    padding: 30px;

    div.input-group {
      margin-bottom: 5px;
    }

    div.box {
      margin: 5px 0 0 0;
      border: 1px solid lightgray;
      border-radius: 5px;
      background-color: white;
      padding: 7px 15px 7px 15px;

      * {
        vertical-align: baseline;
      }
    }
  }

  h3.header {
    background: url("../../../Resources/qa.png") left top no-repeat;
    background-size: 50px;
    height: 50px;
    padding: 5px 0 0 60px;
    color: #843534;
    margin-bottom: 20px;
  }

  .link {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
  }
